$color1: #f7f7f7;
$color2: #efefef;
$color3: #e4e4e4;
$color4: #d8d6d6;
$color5: #cac8c8;

html {
  scroll-behavior: smooth;
  font-family: "proxima_novalight", arial, sans-serif;
}

.color-one {
  background-color: $color1;
}
.color-two {
  background-color: $color2;
}
.color-three {
  background-color: $color3;
}
.color-four {
  background-color: $color4;
}
.color-five {
  background-color: $color5;
}
.css-trigger-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  font-size: 1.3rem;
}
.css-source {
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ant-carousel {
  margin: auto !important;
  width: 100%;
}
.article__title {
  min-height: 80px;
  background: #000000a1;
  padding: 10px 0px;
  top: 0;
  text-align: center;
  overflow: scroll;
}
.article__content {
  background: white;
  padding: 10px;
}
.article__content a {
  text-decoration: none;
  color: white;
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  background: gray;
}
// .ant-carousel .slick-slide {
//   text-align: center;
//   height: 160px;
//   line-height: 160px;
//   background: #364d79;
//   overflow: hidden;
// }

// .ant-carousel .slick-slide h3 {
//   color: #fff;
// }

.box-shadow-outset {
  box-shadow: 10px 10px 20px rgba(0, 2, 10, 0.2),
    inset 2px 2px 5px 0px rgba(103, 108, 132, 0.17),
    inset -2px -2px 5px 0px rgba(0, 0, 0, 0.28);
}
.box-shadow-inset {
  box-shadow: 10px 10px 20px rgba(0, 2, 10, 0.2),
    inset 5px 5px 5px 0px rgba(0, 0, 0, 0.28),
    inset -5px -5px 5px 0px rgba(103, 108, 132, 0.17);
}

.ant-card-meta-description {
  height: 110px;
  overflow: scroll;
}

.ant-card-body {
  padding: 12px !important;
}

.text-color-white {
  color: white;
}
.article_img {
  height: 450px;
  max-height: 450px;
}
