$break-small: 320px;
$break-smallScape: 640px;
$break-medium: 768px;
$break-mediumScape: 1024px;
$break-desktop: 1025px;
$break-large: 1280px;
$break-huge: 1600px;
@mixin respond-to($media) {
  @if $media==small {
    @media screen and (min-width: $break-small) and (max-width: 767px) {
      @content;
    }
  }
  @if $media==smallScape {
    @media screen and (min-width: $break-smallScape) and (orientation: landscape) {
      @content;
    }
  }
  @if $media==ipad {
    @media screen and (min-width: $break-medium) and (max-width: $break-desktop) {
      @content;
    }
  }
  @if $media==ipadScape {
    @media screen and (min-width: $break-mediumScape) {
      @content;
    }
  }
  @if $media==desktop {
    @media screen and (min-width: $break-desktop) {
      @content;
    }
  }
  @if $media==large-dt {
    @media screen and (min-width: $break-large) {
      @content;
    }
  }
  @if $media==huge {
    @media screen and (min-width: $break-huge) {
      @content;
    }
  }
}
